version: "3.8" 
services: 
  web: 
    build: web 
    ports: 
    - 5000:3000 
    environment: 
      POSTGRES_PASSWORD: ci-pass 
  db: 
    build: db 
    environment: 
      POSTGRES_PASSWORD: ci-pass 