global: 
  scrape_interval: 15s 
 
scrape_configs: 
  - job_name: 'prometheus' 
    static_configs: 
      - targets: ['localhost:9090'] 
 
  - job_name: 'cadvisor' 
    static_configs: 
      - targets: ['host.docker.internal:8080']

  - job_name: 'kotlin-api' 
    static_configs: 
      - targets: ['host.docker.internal:7000']
    metrics_path: /actuator/prometheus