scrape_configs: 
  - job_name: 'prometheus' 
    scrape_interval: 5s 
    static_configs: 
    - targets: ['localhost:9090'] 
  - job_name: dotnet 
    scrape_interval: 5s 
    static_configs: 
    - targets: ['dotnet-api-svc:80'] 
  - job_name: node 
    scrape_interval: 5s 
    static_configs: 
    - targets: ['node-api-svc:3000'] 
      labels: 
        group: 'production' 