body {
    background: black;
    color: white;
}

div.container {
    max-width: 800px;
    margin: 100px auto;
    border: 20px solid white;
    padding: 10px;
    text-align: center;
}

img {
    width: 500px;
}

h4 {
    text-transform: uppercase;
}